<a href="https://colab.research.google.com/github/JinHwanJ/Hello_World/blob/main/%EC%8B%9D%EB%8B%B9%EA%B0%9C%EC%97%85%ED%8F%90%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [175]:
### 1) 18-21년 개폐업률 표 (그래프) 
### 2) 상권별 개폐업률 (지도, ) - 가장개업율높지만 폐업률 낮은 곳(발전지역)/ 개업율 낮지만 폐업률 높은 곳  -- >(이유찾기)
### 3)

In [168]:
import pandas as pd

In [170]:
df_18 = pd.read_csv('/content/drive/MyDrive/서울시_우리마을가게_상권분석서비스(신_상권배후지_점포)_2018년.csv',header=0, encoding='CP949')
df_19= pd.read_csv('/content/drive/MyDrive/서울시_우리마을가게_상권분석서비스(신_상권배후지_점포)_2019년.csv',header=0, encoding='CP949')
df_20= pd.read_csv('/content/drive/MyDrive/서울시_우리마을가게_상권분석서비스(신_상권배후지_점포)_2020년.csv',header=0, encoding='CP949')
df_21= pd.read_csv('/content/drive/MyDrive/서울시_우리마을가게_상권분석서비스(신_상권배후지_점포)_2021년.csv',header=0, encoding='CP949')

In [171]:
df_all = pd.concat([df_18, df_19, df_20, df_21])

In [174]:
df_all.to_csv("서울시_우리마을가게_상권분석서비스(신_상권배후지_점포)_18-21년.csv")

In [173]:
df_all

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345581,2021,4,A,골목상권,2111090,강일동주민센터,CS300032,가전제품,2,2,0,0,0,0,0
345582,2021,4,A,골목상권,2111090,강일동주민센터,CS300035,인테리어,1,1,0,0,0,0,0
345583,2021,4,A,골목상권,2111090,강일동주민센터,CS300036,조명용품,1,1,0,0,0,0,0
345584,2021,4,A,골목상권,2111090,강일동주민센터,CS300038,자동차부품,2,2,0,0,0,0,0
345585,2021,4,A,골목상권,2111090,강일동주민센터,CS300043,전자상거래업,6,6,0,0,0,0,0

In [176]:
df_all['서비스_업종_코드'] = df_all['서비스_업종_코드'].str.replace(pat=r'[CS]',repl=r'', regex=True).astype('int')

In [177]:
df_all_res = df_all[df_all['서비스_업종_코드'] <= 100010]

df_all_res

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345531,2021,4,A,골목상권,2111090,강일동주민센터,100006,패스트푸드점,2,4,0,0,0,0,2
345532,2021,4,A,골목상권,2111090,강일동주민센터,100007,치킨전문점,2,9,11,1,0,0,7
345533,2021,4,A,골목상권,2111090,강일동주민센터,100008,분식전문점,5,11,0,0,0,0,6
345534,2021,4,A,골목상권,2111090,강일동주민센터,100009,호프-간이주점,1,1,0,0,0,0,0
345535,2021,4,A,골목상권,2111090,강일동주민센터,100010,커피-음료,2,5,0,0,0,0,3

In [115]:
df.groupby('상권_코드_명').get_group('이북5도청사')

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259399,2018,4,A,골목상권,2110001,이북5도청사,CS300029,애완동물,1,1,100,1,0,0,0
259400,2018,4,A,골목상권,2110001,이북5도청사,CS300031,가구,1,1,0,0,100,1,0
259401,2018,4,A,골목상권,2110001,이북5도청사,CS300035,인테리어,3,3,0,0,0,0,0
259402,2018,4,A,골목상권,2110001,이북5도청사,CS300036,조명용품,3,3,0,0,0,0,0
259403,2018,4,A,골목상권,2110001,이북5도청사,CS300043,전자상거래업,2,2,0,0,0,0,0

In [118]:
df.groupby('서비스_업종_코드_명')['점포_수'].mean()

서비스_업종_코드_명
DVD방        1.827528
PC방         5.259164
가구          7.912093
가방          4.976483
가전제품        7.078398
             ...
핸드폰        13.112969
호프-간이주점    34.611989
화장품        36.991939
화초          8.626747
회계사사무소      3.102482
Name: 점포_수, Length: 100, dtype: float64

In [ ]:
df.groupby('상권_코드_명')['점포_수'].mean()

In [99]:
# 지역
storeCode = ['이북5도청사']
area1 = df['상권_코드_명'].isin(storeCode)
df[area1]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259399,2018,4,A,골목상권,2110001,이북5도청사,CS300029,애완동물,1,1,100,1,0,0,0
259400,2018,4,A,골목상권,2110001,이북5도청사,CS300031,가구,1,1,0,0,100,1,0
259401,2018,4,A,골목상권,2110001,이북5도청사,CS300035,인테리어,3,3,0,0,0,0,0
259402,2018,4,A,골목상권,2110001,이북5도청사,CS300036,조명용품,3,3,0,0,0,0,0
259403,2018,4,A,골목상권,2110001,이북5도청사,CS300043,전자상거래업,2,2,0,0,0,0,0

In [112]:
df.groupby('상권_코드_명').size()   # 각 그룹의 크기

상권_코드_명
4.19민주묘지역 2번    290
GS강동자이아파트       320
G타워             388
KB국민은행 망원동지점    352
KB국민은행 서강지점     317
               ...
효창공원앞역 6번       300
효창동주민센터         316
후암동주민센터         344
흑리단길            311
흑석2치안센터         223
Length: 1090, dtype: int64

In [86]:
df.info() # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345764 entries, 0 to 345763
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년_코드      345764 non-null  int64
 1   기준_분기_코드     345764 non-null  int64
 2   상권_구분_코드     345764 non-null  object
 3   상권_구분_코드_명   345764 non-null  object
 4   상권_코드        345764 non-null  int64
 5   상권_코드_명      345764 non-null  object
 6   서비스_업종_코드    345764 non-null  object
 7   서비스_업종_코드_명  345764 non-null  object
 8   점포_수         345764 non-null  int64
 9   유사_업종_점포_수   345764 non-null  int64
 10  개업_율         345764 non-null  int64
 11  개업_점포_수      345764 non-null  int64
 12  폐업_률         345764 non-null  int64
 13  폐업_점포_수      345764 non-null  int64
 14  프랜차이즈_점포_수   345764 non-null  int64
dtypes: int64(10), object(5)
memory usage: 39.6+ MB

In [ ]:
df.iloc[0:9]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
5,2018,1,A,골목상권,2110001,이북5도청사,CS100006,패스트푸드점,1,1,0,0,0,0,0
6,2018,1,A,골목상권,2110001,이북5도청사,CS100007,치킨전문점,0,0,0,0,0,1,0
7,2018,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,5,5,0,0,0,0,0
8,2018,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,14,15,0,0,0,0,1

In [ ]:
df.loc[0:9]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
5,2018,1,A,골목상권,2110001,이북5도청사,CS100006,패스트푸드점,1,1,0,0,0,0,0
6,2018,1,A,골목상권,2110001,이북5도청사,CS100007,치킨전문점,0,0,0,0,0,1,0
7,2018,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,5,5,0,0,0,0,0
8,2018,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,14,15,0,0,0,0,1
9,2018,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,4,4,0,0,0,0,0

In [ ]:
# 2018전체식당리스트
all_filt = ['한식음식점','중식음식점','일식음식점','양식음식점','제과점','패스트푸드점','치킨전문점','분식전문점','호프-간이주점','커피-음료']
filt0 = df['서비스_업종_코드_명'].isin(all_filt)
df[filt0]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345710,2018,4,A,골목상권,2111090,강일동주민센터,CS100006,패스트푸드점,2,4,0,0,25,1,2
345711,2018,4,A,골목상권,2111090,강일동주민센터,CS100007,치킨전문점,3,7,0,0,14,1,4
345712,2018,4,A,골목상권,2111090,강일동주민센터,CS100008,분식전문점,4,11,9,1,9,1,7
345713,2018,4,A,골목상권,2111090,강일동주민센터,CS100009,호프-간이주점,3,3,0,0,0,0,0
345714,2018,4,A,골목상권,2111090,강일동주민센터,CS100010,커피-음료,0,2,50,1,50,1,2

In [ ]:
#한식음식점
filt1 = df['서비스_업종_코드'] == 'CS100001'
df[filt1]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
51,2018,1,A,골목상권,2110002,독립문역 1번,CS100001,한식음식점,8,9,11,1,11,1,1
101,2018,1,A,골목상권,2110003,세검정초등학교,CS100001,한식음식점,46,51,4,2,2,1,5
169,2018,1,A,골목상권,2110004,대신고등학교,CS100001,한식음식점,36,39,0,0,3,1,3
238,2018,1,A,골목상권,2110005,세검정,CS100001,한식음식점,32,35,6,2,3,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345465,2018,4,A,골목상권,2111086,한영중고,CS100001,한식음식점,18,18,11,2,11,2,0
345531,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100001,한식음식점,14,14,0,0,0,0,0
345570,2018,4,A,골목상권,2111088,고덕동성당,CS100001,한식음식점,34,35,0,0,3,1,1
345633,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100001,한식음식점,80,85,4,3,7,6,5
345706,2018,4,A,골목상권,2111090,강일동주민센터,CS100001,한식음식점,12,17,6,1,6,1,5

In [ ]:
#중식음식점
filt2 = df['서비스_업종_코드'] == 'CS100002'
df[filt2]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
52,2018,1,A,골목상권,2110002,독립문역 1번,CS100002,중식음식점,3,3,0,0,0,0,0
102,2018,1,A,골목상권,2110003,세검정초등학교,CS100002,중식음식점,5,6,0,0,0,0,1
170,2018,1,A,골목상권,2110004,대신고등학교,CS100002,중식음식점,5,5,0,0,0,0,0
239,2018,1,A,골목상권,2110005,세검정,CS100002,중식음식점,7,7,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345466,2018,4,A,골목상권,2111086,한영중고,CS100002,중식음식점,2,2,0,0,0,0,0
345532,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100002,중식음식점,1,1,0,0,0,0,0
345571,2018,4,A,골목상권,2111088,고덕동성당,CS100002,중식음식점,3,3,0,0,0,0,0
345634,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100002,중식음식점,12,12,8,1,0,0,0
345707,2018,4,A,골목상권,2111090,강일동주민센터,CS100002,중식음식점,1,1,0,0,0,0,0

In [ ]:
#일식음식점
filt3 = df['서비스_업종_코드'] == 'CS100003'
df[filt3]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
103,2018,1,A,골목상권,2110003,세검정초등학교,CS100003,일식음식점,1,1,0,0,0,0,0
171,2018,1,A,골목상권,2110004,대신고등학교,CS100003,일식음식점,0,1,0,0,0,0,1
240,2018,1,A,골목상권,2110005,세검정,CS100003,일식음식점,2,2,0,0,0,0,0
310,2018,1,A,골목상권,2110006,부암동주민센터,CS100003,일식음식점,3,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345397,2018,4,A,골목상권,2111085,묘곡초등학교(고덕아이파크아파트),CS100003,일식음식점,3,3,33,1,0,0,0
345467,2018,4,A,골목상권,2111086,한영중고,CS100003,일식음식점,1,1,0,0,0,0,0
345572,2018,4,A,골목상권,2111088,고덕동성당,CS100003,일식음식점,1,1,0,0,0,0,0
345635,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100003,일식음식점,7,7,14,1,0,0,0
345708,2018,4,A,골목상권,2111090,강일동주민센터,CS100003,일식음식점,3,3,0,0,0,0,0

In [ ]:
#양식음식점	
filt4 = df['서비스_업종_코드'] == 'CS100004'
df[filt4]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
53,2018,1,A,골목상권,2110002,독립문역 1번,CS100004,양식음식점,1,1,0,0,0,0,0
104,2018,1,A,골목상권,2110003,세검정초등학교,CS100004,양식음식점,6,6,0,0,0,0,0
172,2018,1,A,골목상권,2110004,대신고등학교,CS100004,양식음식점,2,2,0,0,0,0,0
241,2018,1,A,골목상권,2110005,세검정,CS100004,양식음식점,5,5,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345398,2018,4,A,골목상권,2111085,묘곡초등학교(고덕아이파크아파트),CS100004,양식음식점,3,3,67,2,0,0,0
345468,2018,4,A,골목상권,2111086,한영중고,CS100004,양식음식점,3,3,0,0,0,0,0
345533,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100004,양식음식점,1,1,100,1,0,0,0
345573,2018,4,A,골목상권,2111088,고덕동성당,CS100004,양식음식점,1,1,0,0,0,0,0
345636,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100004,양식음식점,6,7,0,0,0,0,1

In [ ]:
#'제과점'
filt5 = df['서비스_업종_코드'] == 'CS100005'
df[filt5]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
54,2018,1,A,골목상권,2110002,독립문역 1번,CS100005,제과점,3,4,25,1,0,0,1
105,2018,1,A,골목상권,2110003,세검정초등학교,CS100005,제과점,5,6,0,0,0,0,1
173,2018,1,A,골목상권,2110004,대신고등학교,CS100005,제과점,4,6,17,1,0,0,2
242,2018,1,A,골목상권,2110005,세검정,CS100005,제과점,5,6,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345399,2018,4,A,골목상권,2111085,묘곡초등학교(고덕아이파크아파트),CS100005,제과점,4,6,17,1,0,0,2
345469,2018,4,A,골목상권,2111086,한영중고,CS100005,제과점,6,6,17,1,0,0,0
345574,2018,4,A,골목상권,2111088,고덕동성당,CS100005,제과점,0,1,0,0,0,0,1
345637,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100005,제과점,3,4,0,0,0,0,1
345709,2018,4,A,골목상권,2111090,강일동주민센터,CS100005,제과점,2,3,0,0,0,0,1

In [ ]:
#'패스트푸드점'
filt6 = df['서비스_업종_코드'] == 'CS100006'
df[filt6]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
5,2018,1,A,골목상권,2110001,이북5도청사,CS100006,패스트푸드점,1,1,0,0,0,0,0
55,2018,1,A,골목상권,2110002,독립문역 1번,CS100006,패스트푸드점,0,1,0,0,0,0,1
106,2018,1,A,골목상권,2110003,세검정초등학교,CS100006,패스트푸드점,4,7,0,0,0,0,3
174,2018,1,A,골목상권,2110004,대신고등학교,CS100006,패스트푸드점,0,2,0,0,0,0,2
243,2018,1,A,골목상권,2110005,세검정,CS100006,패스트푸드점,5,8,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345400,2018,4,A,골목상권,2111085,묘곡초등학교(고덕아이파크아파트),CS100006,패스트푸드점,2,2,0,0,0,0,0
345470,2018,4,A,골목상권,2111086,한영중고,CS100006,패스트푸드점,3,5,0,0,0,0,2
345575,2018,4,A,골목상권,2111088,고덕동성당,CS100006,패스트푸드점,2,4,0,0,0,0,2
345638,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100006,패스트푸드점,5,7,0,0,14,1,2
345710,2018,4,A,골목상권,2111090,강일동주민센터,CS100006,패스트푸드점,2,4,0,0,25,1,2

In [ ]:
#'치킨전문점'
filt7 = df['서비스_업종_코드'] == 'CS100007'
df[filt7]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
6,2018,1,A,골목상권,2110001,이북5도청사,CS100007,치킨전문점,0,0,0,0,0,1,0
56,2018,1,A,골목상권,2110002,독립문역 1번,CS100007,치킨전문점,1,5,20,1,0,0,4
107,2018,1,A,골목상권,2110003,세검정초등학교,CS100007,치킨전문점,0,1,0,0,100,1,1
175,2018,1,A,골목상권,2110004,대신고등학교,CS100007,치킨전문점,2,6,0,0,0,0,4
244,2018,1,A,골목상권,2110005,세검정,CS100007,치킨전문점,1,3,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345471,2018,4,A,골목상권,2111086,한영중고,CS100007,치킨전문점,1,4,0,0,0,0,3
345534,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100007,치킨전문점,1,2,0,0,50,1,1
345576,2018,4,A,골목상권,2111088,고덕동성당,CS100007,치킨전문점,2,6,0,0,0,0,4
345639,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100007,치킨전문점,2,14,0,0,0,0,12
345711,2018,4,A,골목상권,2111090,강일동주민센터,CS100007,치킨전문점,3,7,0,0,14,1,4

In [ ]:
#'분식전문점'
filt8 = df['서비스_업종_코드'] == 'CS100008'
df[filt8]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
7,2018,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,5,5,0,0,0,0,0
57,2018,1,A,골목상권,2110002,독립문역 1번,CS100008,분식전문점,5,6,0,0,0,0,1
108,2018,1,A,골목상권,2110003,세검정초등학교,CS100008,분식전문점,15,17,6,1,0,0,2
176,2018,1,A,골목상권,2110004,대신고등학교,CS100008,분식전문점,18,19,5,1,0,0,1
245,2018,1,A,골목상권,2110005,세검정,CS100008,분식전문점,12,14,14,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345472,2018,4,A,골목상권,2111086,한영중고,CS100008,분식전문점,5,6,0,0,0,0,1
345535,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100008,분식전문점,1,2,50,1,0,0,1
345577,2018,4,A,골목상권,2111088,고덕동성당,CS100008,분식전문점,4,5,0,0,0,0,1
345640,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100008,분식전문점,13,18,17,3,0,0,5
345712,2018,4,A,골목상권,2111090,강일동주민센터,CS100008,분식전문점,4,11,9,1,9,1,7

In [ ]:
#'호프-간이주점'
filt9 = df['서비스_업종_코드'] == 'CS100009'
df[filt9]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
8,2018,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,14,15,0,0,0,0,1
109,2018,1,A,골목상권,2110003,세검정초등학교,CS100009,호프-간이주점,15,16,0,0,6,1,1
177,2018,1,A,골목상권,2110004,대신고등학교,CS100009,호프-간이주점,7,8,0,0,0,0,1
246,2018,1,A,골목상권,2110005,세검정,CS100009,호프-간이주점,9,9,0,0,11,1,0
316,2018,1,A,골목상권,2110006,부암동주민센터,CS100009,호프-간이주점,5,5,0,0,20,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345473,2018,4,A,골목상권,2111086,한영중고,CS100009,호프-간이주점,9,10,10,1,10,1,1
345536,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100009,호프-간이주점,5,6,0,0,0,0,1
345578,2018,4,A,골목상권,2111088,고덕동성당,CS100009,호프-간이주점,10,10,0,0,0,0,0
345641,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100009,호프-간이주점,16,17,0,0,0,0,1
345713,2018,4,A,골목상권,2111090,강일동주민센터,CS100009,호프-간이주점,3,3,0,0,0,0,0

In [ ]:
#'커피-음료'
filt10 = df['서비스_업종_코드'] == 'CS100010'
df[filt10]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
9,2018,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,4,4,0,0,0,0,0
58,2018,1,A,골목상권,2110002,독립문역 1번,CS100010,커피-음료,4,5,0,0,0,0,1
110,2018,1,A,골목상권,2110003,세검정초등학교,CS100010,커피-음료,11,15,0,0,0,0,4
178,2018,1,A,골목상권,2110004,대신고등학교,CS100010,커피-음료,6,8,0,0,0,0,2
247,2018,1,A,골목상권,2110005,세검정,CS100010,커피-음료,11,15,7,1,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345474,2018,4,A,골목상권,2111086,한영중고,CS100010,커피-음료,11,11,9,1,0,0,0
345537,2018,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),CS100010,커피-음료,2,2,0,0,0,0,0
345579,2018,4,A,골목상권,2111088,고덕동성당,CS100010,커피-음료,5,6,0,0,0,0,1
345642,2018,4,A,골목상권,2111089,상일여고(상일초등학교),CS100010,커피-음료,11,12,8,1,0,0,1
345714,2018,4,A,골목상권,2111090,강일동주민센터,CS100010,커피-음료,0,2,50,1,50,1,2

In [148]:
notNeed = ['일반교습학원','외국어학원','예술학원','일반의원','치과의원','한의원','동물병원','당구장','골프연습장','PC방','스포츠클럽','자동차수리','마용실','네일숍','피부관리실','세탁소','부동산중개업','여관','노래방','통번역서비스','건축물청소','여행사','슈퍼마켓','편의점','미곡판매','육류판매','청과상','반찬가게','일반의류','의약품','의료기기','서적','문구','화장품','운동/경기용품','화초','가구','인테리어','조명용품','예술품','전자상거래업']

In [156]:

storeName = df[df['서비스_업종_코드_명'].str.contains('일반교습학원')].index
df.drop(storeName, inplace=True)
df

TypeError: ignored

In [164]:
storeName1 = df['서비스_업종_코드_명'].isin(notNeed)
df.drop(index = storeName1, inplace=True).index
df

KeyError: ignored

In [145]:
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2018,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,23,25,0,0,4,1,2
1,2018,1,A,골목상권,2110001,이북5도청사,CS100002,중식음식점,0,1,0,0,0,0,1
2,2018,1,A,골목상권,2110001,이북5도청사,CS100003,일식음식점,1,1,0,0,0,0,0
3,2018,1,A,골목상권,2110001,이북5도청사,CS100004,양식음식점,3,3,0,0,0,0,0
4,2018,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345759,2018,4,A,골목상권,2111090,강일동주민센터,CS300029,애완동물,1,1,0,0,0,0,0
345760,2018,4,A,골목상권,2111090,강일동주민센터,CS300032,가전제품,1,1,0,0,0,0,0
345761,2018,4,A,골목상권,2111090,강일동주민센터,CS300036,조명용품,1,1,0,0,0,0,0
345762,2018,4,A,골목상권,2111090,강일동주민센터,CS300038,자동차부품,1,1,0,0,0,0,0
345763,2018,4,A,골목상권,2111090,강일동주민센터,CS300043,전자상거래업,6,6,0,0,0,0,0